@media only screen and (max-width: 600px){
    .searchbox {
        background: transparent;
        width: auto;
        padding: 0;
    }

    .searchbox input {
        width: 0;
        padding: 0;
    }

    nav .navbar__center li a{
        padding-right: 0;
        margin: 5px;
    }

    .container__main, .container__sidebar {
        flex-basis: 100%;
    }

    .container__main {
        font-size: 14px;
    }

    .profile-pic {
        width: 100px;
        margin-top: -50px;
    }

    .container__description {
        font-size: 14px;
    }

    .profile-btn{
        font-size: 10px;
    }
    .matual-connection span{
        font-size: 12px;
    }

    .profile-btn a {
        margin: 10px;
    }

    .edit-details {
        margin-top: 10px;
        width: 10px;
    }

}