* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: #f0f0f0;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #fff;
  padding: 6px 6%;
  position: sticky;
  top: 0;
  z-index: 100;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
.navbar .navbar__left a img {
  height: 2rem;
  width: 5rem;
}
.navbar .navbar__center ul li {
  display: inline-block;
  list-style: none;
}
.navbar .navbar__center ul li a {
  align-items: center;
  display: flex;
  font-size: 14px;
  text-decoration: none;
  color: #5f5f5f;
  margin: 5px 20px;
  position: relative;
}
.navbar .navbar__left {
  display: flex;
  align-items: center;
}
.navbar .navbar__left .searchbox {
  background: #f0f0f0;
  width: 250px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  padding: 0 15px;
}
.navbar .navbar__left .searchbox img {
  width: 14px;
}
.navbar .navbar__left .searchbox input {
  width: 100%;
  background: transparent;
  padding: 8px;
  outline: none;
  border: 0;
}

.container {
  padding: 30px 7%;
}

/* ====== Profile page ===== */
.container__main {
  flex-basis: 73%;
}

/* ====== Profile page ===== */
.container__main {
  flex-basis: 73%;
}
.container__main .container__profile {
  background: #fff;
}
.container__main .container__profile h1 {
  font-size: 28px;
  font-weight: 600;
  color: #222;
}
.container__main .container__profile b {
  font-weight: 500;
}
.container__main .container__profile p {
  margin-top: 5px;
}
.container__main .container__profile p a {
  text-decoration: none;
  color: #045be6;
  font-weight: 500;
}
.container__main .container__profile .container__profile--inner {
  padding: 0 4% 10px;
}
.container__main .container__profile .container__profile--inner .profile-pic {
  width: 130px;
  border-radius: 50%;
  margin-top: -75px;
  padding: 5px;
  background: #fff;
}
.container__main .container__profile .container__profile--inner .matual-connection {
  box-shadow: 0.1px 0.1px 10px #b0b3b8;
  display: none;
  align-items: center;
  margin: 20px 0;
}
.container__main .container__profile .container__profile--inner .matual-connection span {
  border-radius: 10px;
  padding: 15px;
  font-size: 10px;
}
.container__main .container__profile .container__profile--inner .profile-btn {
  margin: 20px 0;
}
.container__main .container__profile .container__profile--inner .profile-btn .primary-btn {
  padding: 8px 25px;
  border-radius: 30px;
  background: #7d00d3;
  color: #fff;
}
.container__main .container__profile .container__profile--inner .profile-btn .KPI {
  padding: 7px 25px;
  border-radius: 30px;
  background: transparent;
  color: #7d00d3;
  border: 1px solid #7d00d3;
}
.container__main .container__profile .container__profile--inner .profile-btn .more {
  padding: 7px 25px;
  border-radius: 30px;
  background: transparent;
  color: #777;
  border: 1px solid #777;
}
.container__main .container__profile .container__profile--inner .profile-btn a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin-right: 10px;
}
.container__main .container__description {
  background: #fff;
  padding: 20px 4% 30px;
  margin: 12px 0;
}
.container__main .container__description .container__description--certificate {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
}
.container__main .container__description .container__description--certificate img {
  width: 50px;
  margin-right: 25px;
}
.container__main .container__description .profile-desc-row {
  display: flex;
  align-items: flex-start;
  margin: 20px 0;
  margin-left: 20px;
}
.container__main .container__description .profile-desc-row img {
  width: 50px;
  margin-right: 25px;
  margin-top: 0;
}
.container__main .container__description .profile-desc-row div {
  width: 100%;
}
.container__main .container__description .profile-desc-row h3 {
  font-size: 18px;
  font-weight: 600;
  color: #222;
}
.container__main .container__description .profile-desc-row a {
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  margin-right: 4px;
}
.container__main .container__description .profile-desc-row .Download, .container__main .container__description .profile-desc-row .View {
  padding: 5px 20px;
  border-radius: 30px;
  background: transparent;
  color: #7d00d3;
  border: 1px solid #7d00d3;
  margin-top: 3px;
  margin-bottom: 4px;
}
.container__main .container__description .profile-desc-row b {
  display: block;
  font-weight: 400;
  font-size: 12px;
  color: #5f5f5f;
}
.container__main .container__description .profile-desc-row p {
  margin-top: 15px;
}
.container__main .container__description .profile-desc-row hr {
  border: 0;
  border-bottom: 1px solid #ccc;
  margin-top: 10px;
}
.container__main .container__description .show-link {
  text-decoration: none;
  color: #7d00d3;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px;
  font-size: 10px;
  font-weight: 600;
}
.container__main .container__description .show-link img {
  width: 12px;
  margin-left: 8px;
}
.container__main .container__description .container__supervisor {
  text-align: center;
  margin: 12px 0;
  font-size: 12px;
  padding-bottom: 7px;
  border-bottom: 1px solid #ccc;
}
.container__main .container__description .container__supervisor img {
  width: 60px;
  border-radius: 50%;
}
.container__main .container__description .container__supervisor b {
  display: block;
  font-weight: 600;
  margin-top: 10px;
  font-size: 16px;
}
.container__main .container__description .container__description--supervisor {
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.container__main .container__description .container__description--supervisor a {
  flex-basis: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 0;
  font-size: 13px;
  text-decoration: none;
}
.container__main .container__description .container__description--supervisor a img {
  width: 40px;
  margin-right: 10px;
  box-shadow: 0.1px 0.1px 10px #b0b3b8;
  border-radius: 5px;
}
.container__main .container__description .container__description--supervisor a:first-child {
  border-left: 0;
}
.container__main .container__description .show-all-members {
  border-top: 1px solid #ccc;
  text-align: center;
  margin-top: 20px;
  margin-left: -25px;
  margin-right: -25px;
}
.container__main .container__description .show-all-members a {
  padding-top: 20px;
  font-weight: 600;
  font-size: 10px;
  text-decoration: none;
}
.container__main h2 {
  color: #222;
  margin: 10px 0 20px;
  font-size: 18px;
  font-weight: 600;
}
.container__main .container .toggle {
  position: absolute;
  right: 100px;
}
.container__main .container .toggle #dark {
  width: 20px;
}
.container__main .container .toggle #light,
.container__main .container .toggle #dark {
  transform: scale(1.5);
}
.container__main .container .toggle #light {
  display: none;
}

@media only screen and (max-width: 600px) {
  .searchbox {
    background: transparent;
    width: auto;
    padding: 0;
  }
  .searchbox input {
    width: 0;
    padding: 0;
  }
  nav .navbar__center li a {
    padding-right: 0;
    margin: 5px;
  }
  .container__main, .container__sidebar {
    flex-basis: 100%;
  }
  .container__main {
    font-size: 14px;
  }
  .profile-pic {
    width: 100px;
    margin-top: -50px;
  }
  .container__description {
    font-size: 14px;
  }
  .profile-btn {
    font-size: 10px;
  }
  .matual-connection span {
    font-size: 12px;
  }
  .profile-btn a {
    margin: 10px;
  }
  .edit-details {
    margin-top: 10px;
    width: 10px;
  }
}
body.dark-theme .container,
body.dark-theme .navbar,
body.dark-theme .navbar__center,
body.dark-theme .navbar__left,
body.dark-theme .container__profile,
body.dark-theme .matual-connection,
body.dark-theme .container__profile--inner,
body.dark-theme .container__description,
body.dark-theme .navbar {
  background-color: #242526;
}
body.dark-theme .container {
  background-color: #18191a;
}
body.dark-theme .navbar__center ul li a {
  color: #fff;
}
body.dark-theme .navbar__left .searchbox {
  background: #383737;
}
body.dark-theme .container__profile {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
body.dark-theme .container__profile h1 {
  color: #fff;
}
body.dark-theme .container__profile b, body.dark-theme .container__profile p {
  color: #ccc;
}
body.dark-theme .matual-connection {
  border-radius: 10px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
}
body.dark-theme .matual-connection span {
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #fff;
}
body.dark-theme .container__description .profile-desc-row h3, body.dark-theme h2, body.dark-theme p {
  color: #fff;
}
body.dark-theme .container__description .show-link {
  color: #fff;
}
body.dark-theme .container__description .show-all-members {
  border-top: 1px solid #999797;
}
body.dark-theme .container__description .container__supervisor {
  border-bottom: 1px solid #999797;
}
body.dark-theme .container__description b {
  color: #fff;
}
body.dark-theme .container__description hr {
  border-bottom: 1px solid #999797;
}
body.dark-theme .container__main .container__profile .container__profile--inner .profile-pic {
  background: #242526;
}
body.dark-theme .container__profile .container__profile--inner .profile-btn {
  cursor: pointer;
}